@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

h1, h2, h3 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.typeform-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    max-width: 700px;
}
